
.ant-layout-footer {
    padding: 50px 0 50px 0;
    background-color:#161616;
    height: auto;
    width: 100%;
    background: url('../../media/footer.png') no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    /* background: url('../../media/footer.png') 100% 100% no-repeat; */
}
.ant-layout-footer .footer .Menu a  {
    color: white;
    font-weight: 300;
    font-size: 14px;
}
.ant-layout-footer .navFoot p{
    margin-top: 60px;
}
.ant-layout-footer .footer p {
    color: white;
    font-weight: 300;
    font-size: 14px;
}
.ant-layout-footer .connect{
    text-align: end ;
}
.ant-layout-footer .connect p {
    margin-top: 20px;

}
@media screen and (max-width: 992px) {
   
}
@media screen and (max-width: 500px) {
    .ant-layout-footer .footer .Menu a {
        font-size: 10px;
        line-height: 1;
    }
    .ant-layout-footer {
        padding: 30px 0 30px 0;
        background-color:#161616;
        height: auto;
        width: 100%;
        background: url('../../media/mobfoot.png') no-repeat;
        background-position: top center;
        background-size: 100% 100%;
    
        /* background: url('../../media/footer.png') 100% 100% no-repeat; */
    }
    .ant-layout-footer .footer p {
        font-size: 10px;
    }
    .ant-layout-footer .navFoot p{
        margin-top: 0px;
    }
    .ant-layout-footer .connect p {
        margin-top: 0px;
    
    }
    .disclaimer, .disclaimer, .by, .tag {
        display: none;
    }

}
@media screen and (max-width: 768px) and (min-width: 500px) {
    .ant-layout-footer {
        padding: 30px 0 30px 0;
        background-color:#161616;
        height: auto;
        width: 100%;
        background: url('../../media/mobfoot.png') no-repeat;
        background-position: top center;
        background-size: 100% 100%;
        
    
        /* background: url('../../media/footer.png') 100% 100% no-repeat; */
    }
    .ant-layout-footer .navFoot p{
        margin-top: 40px;
    }
    .disclaimer, .disclaimer, .by, .tag {
        display: none;
    }
}
@media screen and (max-width: 1092px) and (min-width: 768px) {

    .ant-layout-footer {
        padding: 30px 0 30px 0;
        background-color:#161616;
        height: auto;
        width: 100%;
        background: url('../../media/planshfoot.png') no-repeat;
        background-position: top center;
        background-size: 100% 100%;
    
        /* background: url('../../media/footer.png') 100% 100% no-repeat; */
    }
    .ant-layout-footer .navFoot p{
        margin-top: 15px;
    }

}
@media screen and (min-width: 1092px) and (max-width: 1300px) {
   
    

}